<h2>Add a Book</h2>

<form method="POST" action="/process-book">
  <input type="text" name="title" placeholder="Title..." />
  <br />

  <input type="text" name="author" placeholder="Author..." />
  <br />

  <input type="text" name="description" placeholder="Description... (8 characters or more)" />
  <br />

  <input type="number" name="rating" placeholder="Rating... (0-10)" />
  <br />

  <button>Save This Book</button>
</form>
